In [1]:
%pip -q install geopy pandas geopandas

Note: you may need to restart the kernel to use updated packages.

# Read all the CSV files

In [3]:
import pandas as pd

df = pd.concat(
    map(pd.read_csv, ['aau_members-geocoded.csv', 'cenl_members-geocoded.csv', 'clir_members-geocoded.csv', 'hbcu_members-geocoded.csv', 'rfn_members-geocoded.csv'])
)

df.head()

,Unnamed: 0,institution,location,country,website,status,point,latitude,longitude,altitude,geometry,Unnamed: 0.1
0,0,Abia State University,"441103, Uturu, Abia, Nigeria",Nigeria,http://absu.edu.ng/,Full Member,"(5.8225266, 7.3940761, 0.0)",5.822527,7.394076,0.0,POINT (7.3940761 5.8225266),NaN
1,1,Abm University College,"9VFM+H73, Lephala, Gaborone, Botswana",Botswana,https://abm.ac.bw,Associate Member,"(-24.626106, 25.8831748, 0.0)",-24.626106,25.883175,0.0,POINT (25.8831748 -24.626106),NaN
2,2,Abrar University,NaN,Somalia,https://abrar.edu.so,Associate Member,"(2.0379639,45.2855899,0.0)",2.037964,45.285590,0.0,POINT (45.2855899 2.0379639),NaN
3,3,Abubakar Tafawa Balewa University,"Campus: Along Bauchi, Dass Road, 740272, Yelwa...",Nigeria,http://www.atbu.edu.ng/,Full Member,"(10.280075, 9.79455, 0.0)",10.280075,9.794550,0.0,POINT (9.79455 10.280075),NaN
4,4,Accra Institute Of Technology,"34 Concam Cres, Accra, Ghana",Ghana,http://ait-edu.us/,Full Member,"(5.5818774, -0.2141298, 0.0)",5.581877,-0.214130,0.0,POINT (-0.2141298 5.5818774),NaN

In [14]:
import geopandas

gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.longitude, df.latitude, crs="EPSG:3857")
)

gdf.dissolve().centroid

0    POINT (-17.207 18.432)
dtype: geometry